
.button {
  font-size: 16px;
  min-width: 64px;
  outline: none;
  border: 3px solid transparent;
  font-family: ArchivoBlack, sans-serif;
  color: #3B3B3B;

  &:hover {
    cursor: pointer;
    border-bottom: 3px solid #3B3B3B;
  }
}

