@font-face {
  font-family: ArchivoBlack;
  src: url("./../fonts/ArchivoBlack-Regular.ttf") format('truetype');
}

@font-face {
  font-family: Montserrat;
  src: url("./../fonts/Montserrat-VariableFont_wght.ttf") format('truetype');
}

@font-face {
  font-family: MontserratItalic;
  src: url("./../fonts/Montserrat-Italic-VariableFont_wght.ttf") format('truetype');
}

.archivo_font {
  font-family: ArchivoBlack, serif;
}

.montserrat_font {
  font-family: Montserrat, serif;
}

.montserrat_italic_font {
  font-family: MontserratItalic, serif;
}

.large_h {
  @extend .archivo_font;
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: 4px;
  font-weight: 800;
}

.big_h {
  @extend .archivo_font;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 2px;
}

.medium_h {
  @extend .archivo_font;
  font-size: 28px;
}

.small_h {
  @extend .archivo_font;
  font-size: 14px;
}

.large_p {
  @extend .montserrat_font;
  font-weight: 500;
  font-size: 24px;
}

.big_p {
  @extend .montserrat_font;
  font-weight: 400;
  font-size: 22px;
}

.medium_p {
  @extend .montserrat_font;
  font-weight: 300;
  font-size: 18px;
}

.small_p {
  @extend .montserrat_font;
  font-weight: 200;
  font-size: 16px;
}


