@import "./src/shared/themes/global";

.section {
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden;
  max-height: 400px;
  backdrop-filter: blur(10px);
  color: #EFEFEF;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    background-image: url("../../../../public/image_placeholder.jpg");
    background-size: cover;
  }
  > div {
    > * {
      flex: 6;
    }
  }

  .section_description {
    padding: 16px;
    max-height: none;
    h1 {
      @extend .medium_h;
      margin-bottom: 28px;
    }

    p {
      @extend .medium_p;
    }
  }


}

.head_section {
  @extend .section;
  background-color: #3B3B3B;

  padding: 36px;

  h1 {
    @extend .big_h;
    margin-bottom: 28px;
  }

  p {
    @extend .big_p;
  }


}
